In [3]:
import yfinance as yf
import os
indexname = 'BNKS.L'
start_date = "2019-01-01"
end_date = "2023-12-31"
def readstockprice(name,start_date,end_date):
    output_name = name+'_Price.csv'
    stock_price = yf.download(name, start=start_date, end=end_date)
    stock_price.to_csv('./Resources/'+output_name)
    return stock_price
ISHARE=readstockprice(indexname,start_date,end_date)

[*********************100%%**********************]  1 of 1 completed

In [4]:
ISHARE

               Open     High      Low    Close  Adj Close  Volume
Date
2019-01-02  3.87050  3.90500  3.86950  3.93400    3.93400   76442
2019-01-03  3.89600  3.92000  3.89600  3.94250    3.94250   39994
2019-01-04  4.01425  4.01425  4.01425  4.01425    4.01425       0
2019-01-07  4.06450  4.06450  4.06450  4.06450    4.06450       0
2019-01-08  4.03375  4.03375  4.03375  4.03375    4.03375       0
...             ...      ...      ...      ...        ...     ...
2023-12-21  4.91650  4.95150  4.90700  4.92450    4.92450  824980
2023-12-22  4.90000  4.93950  4.90000  4.94075    4.94075    3946
2023-12-27  5.01700  5.02900  4.98100  5.00400    5.00400  399450
2023-12-28  5.01500  5.04600  4.99500  5.01300    5.01300  200764
2023-12-29  5.01500  5.03700  5.01200  5.01200    5.01200    3114

[1261 rows x 6 columns]